<!-- this is the base template that will be extended across all html pages  -->
<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <!--add Bootstrap-->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <!--add style.CSS-->
    <link rel="stylesheet"
          href="{{url_for('.static', filename='style.css')}}">
    <title>Quiz</title>
    <meta charset = "UTF-8" />
  </head>
  <body style = "background-color:#0F4877;">
    <div align = "center">
    <!--add space between content and border-->
    <p class="pad"></p>
    </div>
    <div class="quizBox">
      <!-- this is where the other html page content will go -->
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
