<!DOCTYPE HTML>
<!--Next Steps: comment everything -->
<html lang = "en">
  <head>
    <title>Quiz</title>
    <meta charset = "UTF-8" />
  </head>
  <body>
    <h1>Quiz Game: Check Answer</h1>
    <!-- This GET request will present data submitted via previous POST request -->
    <form method = "GET">
      <fieldset>
        <legend>Write this in English</legend>
        <text> {{term}} </text>
        <p>
          <label>your answer:</label>
          <text> {{user_answer}} </text> <br>
          <label>correct answer:</label>
          <text> {{correct_answer}} </text>
        </p>
       <button type="submit">Continue</button>
      </fieldset>
    </form>
  </body>
</html>
