<!-- TO DO -->
<!-- -when user clicks "Check", remove "text here" -->
<!-- -reformat checked answer so it says, vertically: "term", correct/incorrect/almost, "term" means "definition" -->

{% extends "base.html" %}
{% block content %}
<form method="GET">
    <!-- <legend>Translate this term</legend>
    <text> {{term}} </text> -->
    <p id="text">
      <label> {% if userAnswer == cleanedAnswer %}
        Correct!
        {% else %}
        Incorrect;
        {% endif %}
      </label>
      <text> <i>{{term}}</i> means <i>{{fullAnswer}}</i>.</text>
    </p>
    <button class="button" type="submit">Continue</button>
</form>
{% endblock %}
