<!-- TO DO -->
<!-- -when user clicks "Check", remove "text here" -->
<!-- -reformat checked answer so it says, vertically: "term", correct/incorrect/almost, "term" means "definition" -->

{% extends "base.html" %}
{% block content %}
<form method="GET">
  <fieldset>
    <legend>Write this in English</legend>
    <text> {{term}} </text>
    <p>
      <label> {% if outcome %}
        Correct!
        {% else %}
        Incorrect;
        {% endif %}
      </label>
      <text> <i>{{term}}</i> means <i>{{correctAnswer}}</i>.</text>
    </p>
    <button type="submit">Continue</button>
  </fieldset>
</form>
{% endblock %}
