{% extends "base.html" %}
{% block content %}
<!--user selected flashcard folder for new deck in /selectCardDeckFolder-->
<!--allow user to create new cards -->
<form method="POST" action="/createCardDeck">
  <h5 id="text">Create new flashcards below. When finished, enter a title for
    your new deck and select 'Done'.</h5>
    <!-- comment....-->
  <input id="text" name='folderName' type="hidden" value='{{folderName}}'/>
  <i><label id="text">new term:</label></i>
  <input name="newTerm" type="text" placeholder="text here" />
  <text> {{newTerm}} </text>
  <br>
  <i><label id="text">definition:</label></i>
  <input name="newDefinition" type="text" placeholder="text here" />
  <text> {{newDefinition}} </text>
  <button class="button" type="submit">Create Term</button>
</form>
<!--user has finished creating the new JSON file for their flashcards-->
<!--direct user to /homepage so they can choose to start quiz with new set-->
<form method="POST" action="/createCardDeck">
  <br>
  <input name="newCardDeckTitle" type="text" placeholder="enter title" />
  <input id="text" name='folderName' type="hidden" value='{{folderName}}'/>
  <button class="button" type="submit">Done</button>
</form>



{% endblock %}
