{% extends "base.html" %}
{% block content %}

<!-- Allow user to create new cards. -->
<form method="POST" action="/createCardDeck">
  <h5 id="text">Create new flashcards below. When finished, enter a title for
    your new deck and select 'Done'.</h5>
    <!-- The hidden input below allows this route to capture this form. -->
  <input id="text" name='folderName' type="hidden" value='{{folderName}}'/>
  <i><label id="text">new term:</label></i>
  <input name="newTerm" type="text" placeholder="text here" />
  <text> {{newTerm}} </text>
  <br>
  <i><label id="text">definition:</label></i>
  <input name="newDefinition" type="text" placeholder="text here" />
  <text> {{newDefinition}} </text>
  <button class="button" type="submit">Create Term</button>
</form>


<!-- Allow user to title their new deck once they finish making cards. -->
<form method="POST" action="/createCardDeck">
  <br>
  <input name="newCardDeckTitle" type="text" placeholder="enter title" />
  <input id="text" name='folderName' type="hidden" value='{{folderName}}'/>
  <button class="button" type="submit">Done</button>
</form>



{% endblock %}
