{% extends "base.html" %}
{% block content %}
<!--give user choice to create a new flashcard set OR continue with existing files-->
<form method="GET" action="/selectCardDeckFolder">
  <h4>Welcome to my Language Learner's Vocab Quiz!</h4>
  <h5>You can make a new flashcard deck or continue to the quiz with your current decks:</h5>
  <button type="submit">New Flashcard Deck</button>
</form>
<!--send user to /quizCardDeckFolders start loading the quiz-->
<form method="POST" action="/quizCardDeckFolders">
  <button type="submit">Continue to Quiz</button>
</form>

{% endblock %}
