{% extends "base.html" %}
{% block content %}


<!-- Prompt the user with a randomized flashcard term and have them give an
        answer. -->
<form method="POST">
    <legend id="text">Define the following:</legend>
    <text id="text">{{term}}</text>
    <br>
    <input name='vocabTerm' type="hidden" value='{{term}}'/>
      <input name="userAnswer" type="text" placeholder="answer" />
      <text> {{userAnswer}} </text>
    <!-- Check the user's answer. -->
    <button class="button" href="checkAnswer.html" type="submit">Check</button>
</form>


<!-- Present the user with the next term.  -->
<form method="GET">
  <button class="button" href="quizPage.html" type="submit">Next word</button>
</form>


{% endblock %}
