{% extends "base.html" %}
{% block content %}
<!-- This POST request will submit form containing userAnswer and term to server \
     so that it's callable in checkAnswer.html page -->

<form method="POST">
  <!-- prompt user for answer in whatever language selection they made -->
    <legend>Translate this from {{languageSelection}}: </legend>
    <!--random()function from wordBank.py is called in routes.py as "term"; \
        show randomized term from wordbank as german_word-->
    <text> <br> {{term}} </text>
    <!-- when form is submitted, input listed below is submitted as part of request body \
        and becomes callable in routes.py by "name" -->
    <input name='vocabTerm' type="hidden" value='{{term}}'/>
    <p>
      <label>answer</label>
      <!-- TODO: "text here" should disappear when clicked on -->
      <input name="userAnswer" type="text" placeholder="text here" />
      <text> {{userAnswer}} </text>
    </p>
    <!-- create "Check" button to redirect user to checkAnswer.html -->
    <button href="checkAnswer.html" type="submit">Check</button>
</form>
<!-- This GET request renders quizPage.html -->
<form method="GET">
  <button href="quizPage.html" type="submit">Next word</button>
</form>
{% endblock %}
