{% extends "base.html" %}
{% block content %}

<!--show user existing flashcard deck folders-->
<!--upon selection, direct user to quizCardDeck to pick a flashcard set
from this folder for the quiz-->
<form method="POST" action="/quizCardDeck">
  <h5 id="text">Select the folder your flashcard set is in: </h5>
  <select name="cardDeckFolders">
    {% for folder in folders %}
    <option value="{{folder}}"> {{folder}} </option>
    {% endfor %}
  </select>
  <button class="button" type="submit">Continue</button>
</form>
{% endblock %}
