{% extends "base.html" %}
{% block content %}
<!-- This GET request will present user with a selection for a language -->
<!-- Once user selects a language, redirect user to /selectLesson -->
<form method="POST" action="/selectLesson">
    <h4>Welcome to my Language Learner's Vocab Quiz!</h4>
    <h5> Which of the following would you like to study?</h5>
    <select name="languageFolder">
      {% for language in languages %}
      <option value="{{language}}"> {{language}} </option>
      {% endfor %}
    </select>
    <!-- User selects a language from the drop down and initiates a POST request -->
    <!-- render selectLesson.html and pass in language selection -->
    <button type="submit">Continue</button>
</form>
{% endblock %}
