<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <!-- include Bootstrap to load CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
    p.ex1 {
  padding-top: 40px;
    }
    .quizBox {
      margin: auto; background-color: white; width: 40%; border: 5px solid #34A853; padding: 10px;
    }

    </style>
    <title>Quiz</title>
    <meta charset = "UTF-8" />
  </head>
  <body style = "background-color:#1a1269;">
    <div align = "center">
    <!-- add whitespace to top -->
    <p class="ex1"></p>
    </div>
    <div class="quizBox">
    <!-- This GET request will present user with a selection for language and vocabulary lesson -->
    <!-- Once user selects language and lesson, rediect user to new page of /quizPage and use corresponding json file as wordBank-->
    <form method = "POST">
      <fieldset>
        <legend>Welcome to my Vocabulary Quiz Game! <br>Select a language you wish to study:</legend>

        <button href="lessons.html" type="submit">German</button>
        <button href="lessons.html" type="submit">Spanish</button>

        </fieldset>
        <!-- create "Next word" button and upon click redirect user to new page of /quizPage -->
    </form>
      </div>
  </body>
</html>
